# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS code
.vscode

# Custom files per module 
## Module_00
megaphone
phonebook
19920104_091532.log
*.log

## Module_01
zombies
brain
violence
replace
harl

## Module_02
first_OCF
better_OCF
even_better_OCF
bsp

## Module_03
claptrap
scavtrap
diamondtrap

##Module_04
polymorphism

##Module_05
bureaucrat
forms
more_forms
*_shrubbery
interns

##Module_06
convert
serial
real

##Module_07
templates
iter
array

##Module_09
btc
RPN
PmergeMe
